<suite name="Parallel Test" parallel="tests">
    <test name="Chrome tests">
        <parameter name="browser" value="chrome"></parameter>
        <classes>
            <class name="Tests.LoginTest"/>
        </classes>
    </test>
    <test name="Edge tests">
        <parameter name="browser" value="edge"></parameter>
        <classes>
            <class name="Tests.LoginTest"/>
        </classes>
    </test>
</suite>