<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">

    <Appenders>
        <!-- Console Appender-->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] [%X{testName}] %-5level - %msg%n"/>
        </Console>

        <!-- File Appender -->
        <RollingFile name="FileLogger" fileName="logs/Test_Automation_${date:yyyy-MM-dd}.log"
                     filePattern="logs/Previous_Test_%d{yyyy-MM-dd}.log"> <!--defines the naming convention for the archived log files after rotation.-->
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] [%X{testName}]  %-5level - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/> <!-- interval of 1, meaning log files will be created every day -->
            </Policies>
        </RollingFile>
    </Appenders>

    <Loggers>
        <!-- The Root logger: Logs info and above to both console and file -->
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="FileLogger"/>
        </Root>
    </Loggers>
</Configuration>
